@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-light">Ürün Listesi</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Add" class="btn btn-secondary">
                <i class="bi bi-plus-square"></i> &nbsp; Yeni Ürün Ekle
            </a>
        </div>
    </div>
</div>
<br />

<div class="container">
    <form method="get" action="@Url.Action("Index", "Product")">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchQuery" placeholder="Ürün Ara">
            <button class="btn btn-outline-secondary" type="submit">Ara</button>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Ürün Adı
            </th>
            <th>
                Stok Kodu
            </th>
            <th>
                Kategorisi
            </th>
            <th>
                Ürün Miktarı
            </th>
            <th>
                Alış Fiyatı
            </th>
            <th>
                Satış Fiyatı
            </th>
            <th>
                Ürün İşlemleri
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="20%">
                    @obj.ProductName
                </td>
                <td width="10%">
                    @obj.StockCode
                </td>
                <td width="20%">
                    @obj.Category.CategoryName
                </td>
                <td width="10%">
                    @obj.ProductAmount
                </td>
                <td width="10%">
                    @obj.ProductBuyingPrice
                </td>
                <td width="10%">
                    @obj.ProductSellingPrice
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Düzenle</a>
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-eraser"></i> Sil</a>
                        @if (obj.ProductAmount > 0)
                        {
                            <a asp-controller="Product" asp-action="Sell" asp-route-id="@obj.Id" class="btn btn-success"><i class="bi bi-cart-fill"></i> Sat</a>
                        }
                        else
                        {
                            <button class="btn btn-success" disabled><i class="bi bi-cart-fill"></i> Sat</button>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
