@model IEnumerable<User>
@{
	ViewData["Title"] = "Index";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-light">Kullanıcı Listesi</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="User" asp-action="Add" class="btn btn-secondary">
				<i class="bi bi-plus-square"></i> &nbsp; Yeni Kullanıcı Ekle
			</a>
		</div>
	</div>
</div>
<br />

<div class="container">
	<form method="get" action="@Url.Action("Index", "User")">
		<div class="input-group mb-3">
			<input type="text" class="form-control" name="searchQuery" placeholder="Kullanıcı Ara">
			<button class="btn btn-outline-secondary" type="submit">Ara</button>
		</div>
	</form>
</div>

<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				Kullanıcı Adı
			</th>
			<th>
				Kullanıcı Şifresi
			</th>
			<th>
				Kullanıcı Tipi
			</th>
			<th>
				Kullanıcı İşlemleri
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td width="25%">
					@obj.UserName
				</td>
				<td width="15%">
					@obj.UserPassword
				</td>
				<td width="25%">
					@obj.UserType
				</td>
				<td>
					<div class="w-75 btn-group" role="group">
						<a asp-controller="User" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Düzenle</a>
						<a asp-controller="User" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger"><i class="bi bi-eraser"></i> Sil</a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
